.bg-color {
    background-color: white;
}

:root {
    --blue: #4e73df;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #EF233C;
    --orange: #fd7e14;
    --yellow: #f6c23e;
    --green: #1cc88a;
    --teal: #20c9a6;
    --cyan: #36b9cc;
    --white: #fff;
    --gray: #858796;
    --gray-dark: #2B2D42;
    --primary: #4e73df;
    --secondary: #858796;
    --success: #1cc88a;
    --info: #36b9cc;
    --warning: #f6c23e;
    --danger: #e74a3b;
    --light: #EDF2F4;
    --dark: #5a5c69;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "SF Pro", "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
  

.box {
    border-color: #D4D7D9;
    font-size: 2rem;
}

.logo {
    height: 50px;
    width: 50px;
}

.logoText {
    font-weight: bolder;
    font-size: 2rem
}

.nav-active {
    color: #EF233C;
}
.nav-icon {
    font-size: 1.5rem;
}

.nav-text {
    display: none;
    font-size: 1.5rem;
    font-weight: 300;
}

.nav-link {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  height: 3.5rem;
  width: 3.5rem;

}

.side-pane {
  max-width: 250px;
}

.nav-link:hover {
  background-color: rgba(43,45,66,0.1);
  border-radius: 0.25rem;
}

textarea {
    overflow: hidden;
    height: 2.5rem;
    resize: none;
}

textarea.form-control {
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#sendBtn {
    height:2.5rem; width: 2.5rem; background-color: #2B2D42;
}

#sendBtn:hover {
    background-color: #EF233C;
}

@media (max-width: 1200px) {
  .nav-link {
    justify-content: center;
  }
}

@media (min-width: 1200px) {
    .logo {
        height: 50px;
        width: 50px;
    }

    .logoText {
        font-size: 2rem;
    }
    .nav-link {
      gap: 1.5rem;
      padding-left: 1rem;
      height: 3.5rem; 
      width: 12rem;
    }

    .nav-text {
      display: block;
    }
    
    .nav-link:hover {
      background-color: rgba(43,45,66,0.1);
      border-radius: 0.25rem;
    }

}

.burger-menu {
    display: none;
  }
  
  @media (max-width: 768px) {
    .burger-menu {
      display: block;
    }
    ul {
      display: none;
    }
    ul.show {
      display: block;
    }
  }
  
  .burger {
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
  }
  
  .burger:before, .burger:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
  }
  
  .burger:before {
    top: 0;
  }
  
  .burger:after {
    bottom: 0;
  }
  