.content-area {
  height: 100%;
  width: 100%;
  padding: 3.1rem;
  padding-bottom: 1.9rem;
  border-radius: 1.3rem;
  background-color: white;
  overflow: hidden; /* Prevents content from overflowing */
  position: relative;
}

.message-box {
  display: flex;
  background-color: #f0f5ff;
  border: 0.05rem solid rgb(205, 205, 205);
  border-radius: 0.6rem;
  padding: 0.6rem;
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.message-box:hover {
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1),
    0 0.3rem 0.4rem rgba(0, 0, 0, 0.1), 0 0.6rem 0.6rem rgba(0, 0, 0, 0.1),
    0 0.15rem 0.15rem rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
}

.message-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  max-height: calc(100% - 2.5rem);
  overflow-y: auto;
  margin-bottom: 0.6rem;
}

.message-list a {
  text-decoration: none;
  color: black;
}

/* Move buttons to the RHS of the page */
.pagination {
  display: flex;
  justify-content: flex-end; /*Chat-GPT*/
  margin-top: 1rem;
  margin-left: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 2rem;
  margin-right: 3.1rem;
}

.Previous-Button a {
  background-color: #d8fc4c;
  border: none;
  color: rgb(0, 0, 0);
  padding: 0.94rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 0.5rem;
  margin-right: 0.63rem;
  width: 6.3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-left: auto;
  margin-right: 0.099rem;
}

.Next-Button a {
  background-color: #d8fc4c;
  border: none;
  color: rgb(0, 0, 0);
  padding: 0.94rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 0.5rem;
  margin-left: 0.63rem;
  width: 6.3rem;
  font-weight: bold;
}

.Next-Button.First-Page {
  margin-left: -0.6rem;
}

.message-box a {
  display: block;
  height: 100%;
  width: 100%;
}

.title {
  font-family: 'Montserrat', sans-serif;
}

.Previous-Button {
  font-family: 'Montserrat', sans-serif;
}

.Next-Button {
  font-family: 'Montserrat', sans-serif;
}

.username {
  font-weight: bold;
  margin-right: 0.5rem;
}
