.content-area {
    height: 100%;
    width: 100%;
    padding: 3.1rem;
    padding-bottom: 1.9rem;
    border-radius: 1.3rem;
    background-color: white;
    overflow: hidden; /* Prevents content from overflowing */
    position: relative;
}

.message-box {
    display: flex;
    background-color: #f0f5ff;
    border: 0.05rem solid rgb(205, 205, 205);
    border-radius: 0.6rem;
    padding: 0.6rem;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.message-box:hover {
    box-shadow: 
        0 0.1rem 0.2rem rgba(0, 0, 0, 0.1), 
        0 0.3rem 0.4rem rgba(0, 0, 0, 0.1), 
        0 0.6rem 0.6rem rgba(0, 0, 0, 0.1), 
        0 0.15rem 0.15rem rgba(0, 0, 0, 0.1);
    border-radius: 0.6rem;
}

.message-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    max-height: calc(100% - 2.5rem);
    overflow-y: auto;
    margin-bottom: 0.6rem;
}

.message-list a {
    text-decoration: none;
    color: black;
}
 
.message-box a {
    display: block;
    height: 100%;
    width: 100%;
}

.title {
    font-family: 'Montserrat', sans-serif;
}
