/* screen - chat2 */

.chat2 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  gap: 139px;
  width: 1440px;
}

.chat2 .history-box {
  align-items: flex-start;
  display: flex;
  min-width: 373px;
}

.chat2 .overlap-group4 {
  height: 1024px;
  position: relative;
  width: 373px;
}

.chat2 .history-box-1 {
  background-color: var(--alto);
  height: 1024px;
  left: 0;
  position: absolute;
  top: 0;
  width: 371px;
}

.chat2 .overlap-group {
  align-items: flex-end;
  background-color: var(--malachite-2);
  display: flex;
  height: 58px;
  justify-content: flex-end;
  left: 0;
  min-width: 371px;
  position: absolute;
  top: 788px;
}

.chat2 .clear-history {
  height: 58px;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -0.2px;
  text-align: center;
  width: 370px;
}

.chat2 .overlap-group1 {
  height: 58px;
  left: 1px;
  position: absolute;
  top: 860px;
  width: 371px;
}

.chat2 .box {
  background-color: var(--malachite-2);
  cursor: pointer;
  height: 58px;
  left: 0;
  position: absolute;
  top: 0;
  width: 371px;
}

.chat2 .light-mode {
  height: 58px;
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 370px;
}

.chat2 .overlap-group2 {
  align-items: flex-end;
  background-color: var(--malachite-2);
  display: flex;
  height: 58px;
  justify-content: flex-end;
  left: 2px;
  min-width: 371px;
  position: absolute;
  top: 932px;
}

.chat2 .sign-out {
  height: 58px;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -0.2px;
  text-align: center;
  width: 370px;
}

.chat2 .new-chat-container {
  left: 29px;
  top: 22px;
  width: 310px;
}

.chat2 .new-chat {
  background-color: var(--malachite-2);
  height: 48px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 310px;
}

.chat2 .chat-input-box {
  align-items: flex-start;
  background-color: var(--alto);
  display: flex;
  justify-content: flex-end;
  margin-top: 846px;
  min-width: 747px;
}

.chat2 .enter-button {
  background-color: #020300;
  height: 78px;
  width: 78px;
}
