<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    
    <link rel="stylesheet" type="text/css" href="application/static/css/Chat.css" />
    <link rel="stylesheet" type="text/css" href="application/static/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="application/static/css/globals.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/application/static/js/account-popup.js"></script> 
    <script src="/application/static/js/chat.js"></script> 

  </head>
  <body style="margin: 0">
    <input type="hidden" id="anPageName" name="page" value="background" />
    <div class="container-center-horizontal">
      <div class="background screen">
        <div class="group-container">
          <!-- upbar contain tille web, profile picture, user name -->
          <div class="upbar"><h1 class="title">MindMate</h1></div>
          <div class="group-10">
            <div class="profile-pic"></div>
            <div class="username">Daffa Fathurohman</div>
            
          </div>
          
        </div>
        <!-- flex-row is navigator row -->
        <div class="flex-row">
          <!-- form to link navigator row -->
          <form action=""></form>
          <div class="group-container-1">
            <div class="group">
            
              <div class="place roboto-extra-bold-raven-20px">
                <li><a href="{{ url_for('home') }}">Home</a></li>
              </div>
            </div>

            <div class="chat-container">
              <div class="chat">Chat</div>
            </div>

            <div class="group">  
              <div class="history roboto-extra-bold-raven-20px">
                  <li><a href="{{ url_for('history') }}">History</a></li>                 
              </div>
            </div>
            <div class="group-4">
             
              <div class="account roboto-extra-bold-raven-20px">
                <li><a href="#" onclick="showAccountPopup()">Account</a></li>
              </div>
            </div>
          </div>
          <!-- for chat -->
          <div class="flex-col">
            <div class="group-container-2">
              <div class="group-5">
                <!-- form for chat input -->
                <form action="/chat" method="POST"action="{{ url_for('chat') }}">
                  <div class="chat-input">
                  <div id="input-box">
                    <input id="message-input"  type="text" placeholder="Type your message...">
                  </div>                  
                  <div class="message"><div class="place-1">
                    <button id="send-button">Send</button>
                  </div>
                </form>
              </div> 
              <!-- still doing -->
              
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
