{% extends 'base.html' %}

{%  block css %}
<link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/Chat.css') }}" />
{% endblock %}

{% block body %}
  <div class="container-fluid p-0">
    <!-- upbar contain title web, profile picture, user name -->
    <div class="upbar bg-dark text-white py-2">
      <div class="container d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <a href="{{ url_for('index') }}" style="position: fixed; top: 2vh; left: 1vh;">
              <img src="{{ url_for('static', filename='logo.png') }}" alt="logo" class="mb-3" style="max-width: 100%;">
              <h3 class="title mb-0 ms-3" style="position: fixed; top: 1.5vh; left: 10vh;">MindMate</h3>
            </a>
          </div>
          <form class="d-flex flex-row-reverse">
            <div class="input-group custom-search-bar" style="position: fixed; top: 1vh; left: 22vh;">
              <input type="text" class="form-control bg-dark text-white" placeholder="Search..." aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">Go</button>
              </div>
            </div>
          </form>
          
          <div class="d-flex align-items-center" style="position: fixed; top: 1vh; right: 3vh;">
              <div class="background profile-pic me-3" style="margin-left: 5vh;"></div>
              <div class="background username">Daffa Fathurohman</div>
          </div>
      </div>
  
    <!-- Navigator bar -->
    <div class="row no-gutters">
      <div class="col-md-3 nav-container bg-light opacity-8">
        <div class="py-3 d-flex justify-content-center align-items-center">
          <ul class="nav flex-column text-center my-5">
            <li class="nav-item" style="left: 3vh;">
              <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item" style="margin-top: 3vh;left: 3vh;">
              <a class="nav-link" href="#">Chat</a>
            </li>
            <li class="nav-item" style="margin-top: 3vh;left: 3vh;">
              <a class="nav-link" href="{{ url_for('index') }}">History</a>
            </li>
            <li class="nav-item flex-grow-1" style="margin-top: auto; margin-bottom: 2vh; position: fixed; bottom: 2vh; left: 8vh;">
              <a class="nav-link" href="#" onclick="showAccountPopup()">Account</a>
            </li>            
          </ul>
        </div>
      </div>
    </div>
    
    

    <!-- Chat area -->
    <div class="col-md-9 chat-container">
      <div class="chat-area" style="position: fixed; bottom: 0; right: 0;">
        <form action="/chat" method="POST">
          <div class="chat-input d-flex align-items-end" style="position: absolute; bottom: 1vh; right: 30vh;">
            <input id="message-input" type="text" placeholder="Type your message..." class="flex-grow-1">
            <button type="submit" id="send-message-button" class="btn btn-primary ml-2 text-white">Send</button>
            
          </div>
        </form>
      </div>
    </div>
    
    
  </div>

{% endblock %}                 

{% block script %}
<script src="{{ url_for('static', filename='js/chat.js') }}" ></script> 
<script src="{{ url_for('static', filename='js/account-popup.js') }}"></script>
{% endblock %}       