{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Signup-login.css') }}" />
{% endblock %}

{% block body %}

  <!-- upbar contain title web-->
  <div class="upbar bg-dark text-white py-2">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <a href="{{ url_for('index') }}" style="position: fixed; top: 2vh; left: 1vh;">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="logo" class="mb-3" style="max-width: 100%;">
            <h3 class="title mb-0 ms-3" style="position: fixed; top: 1.5vh; left: 10vh;">MindMate</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="fixed-box">
      <div class="card" style="width: 50vh; height: 50vh;">
        <div class="card-body">
          <h1 class="text-center mb-4">Login</h1>
          <form method="POST" action="{{ url_for('login') }}">
            <div class="form-group">
              <label for="email" class="text-center">Email:</label>
              <input type="email" id="email" name="email" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="password" class="text-center">Password:</label>
              <input type="password" id="password" name="password" class="form-control" required>
              <div class="text-center mt-2">
                <a href="#" class="text-primary small">Forgot Password?</a>
                <div class="forgot-password">
                  <a href="https://www.facebook.com/login/identify/?ctx=recover&amp;ars=facebook_login&amp;from_login_screen=0">Forgot Password on Facebook</a>
                  <a href="https://accounts.google.com/signin/v2/recoveryidentifier?flowName=GlifWebSignIn&amp;flowEntry=ServiceLogin">Forgot Password on Google</a>
                </div>
                
              </div>
            </div>
            <div class="form-group text-center">
              <button type="submit" class="btn btn-primary mt-4">Sign Up</button>
              <div class="mt-2">
                <a href="/signup" class="text-primary small">Create New Account</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
