/* screen - background */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('{{ url_for("static", filename="images/bg.png") }}');
  background-size: cover;
  height: 100vh;
}
/* Flexbox */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* for upbar */
.upbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #333;
  color: #fff;
  z-index: 999;
}


.title {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  min-height: 44px;
  min-width: 190px;
}
.input-group .custom-search-bar {
  width: 10vh;
}

.username {
  font-size: 1.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 10vw;
}

.profile-pic {
  width: 5vh;
  height: 5vh;
  background-color: #ccc;
  border-radius: 50%;
}

.input-group {
  width: 20vh;
}

/* navigator bar */
.nav-container {
  position: fixed;
  top: 7vh;
  left: 0;
  bottom: 0;
  width: 250px;
}
.nav-line {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  background-color: #000;
}
.nav-link:hover {
  color: #fff;
  background-color: #0d6efd;
}
.nav-item:hover .nav-link {
  background-color: #007bff;
  color: #fff;
}

/* chat area */
.chat-area{
  width: 122vh;
  height: 89vh; 
  border-radius: 4vh;
  background-color: #f0f0f0;
  position: fixed;
  bottom: 2vh;
  right: 3vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh;
  top: 54%;
  left: 60%; 
  transform: translate(-50%, -50%);
}
.chat-input {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 30vh;
  right: 60vh;
  width: 70vh;
  height: 5vh;
  border-radius: 5vh;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#message-input {
  flex-grow: 1;
  border: none;
  border-radius: 5vh;
  height: 100%;
  width: 50vh;
  padding: 0 1vh;
}

#send-message-button {
  height: 100%;
  width: 12vh;
  border: none;
  border-radius: 5vh;
  background-color: #007bff;
}

#send-message-button:hover {
  background-color: #0056b3;
  cursor: pointer;
}

.chat-input > div {
  width: 10vh;
  height: 100%;
  background-color: #fafbfc;
  border-radius: 5vh;
  margin-right: 1vh;
}
