@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:400,700");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/644a48c4b4d5fc92038c6b85.644a48c65395f27e47fe3243.tKQkSon.hcp.png");



.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

.new-chat-1 {
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  top: 0;
  width: 309px;
}

.new-chat-2 {
  height: 49px;
  position: absolute;
}

.clear-history-1 {
  height: 58px;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -0.2px;
  text-align: center;
  width: 370px;
}

.history1-4 {
  height: 58px;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -0.2px;
  text-align: center;
  width: 370px;
}