/* screen - login-signup-page */

.login-signup-page {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 70px;
  height: 1024px;
  padding: 43px 31px;
  width: 1440px;
}

.login-signup-page .flex-row {
  align-items: center;
  display: flex;
  gap: 495px;
  margin-right: 70.0px;
  min-width: 1308px;
}

.login-signup-page .logo-also-home-button {
  background-color: var(--alto);
  cursor: pointer;
  height: 139px;
  width: 157px;
}

.login-signup-page .navigator-bar {
  align-items: center;
  background-color: var(--alto);
  display: flex;
  height: 108px;
  margin-top: 1.0px;
  min-width: 656px;
  padding: 0 30px;
}

.login-signup-page .home {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  min-width: 92px;
}

.login-signup-page .overlap-group {
  align-items: flex-end;
  background-color: var(--manz);
  display: flex;
  height: 78px;
  justify-content: flex-end;
  min-width: 90px;
}

.login-signup-page .place {
  height: 77px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 87px;
}

.login-signup-page .overlap-group2 {
  align-items: flex-end;
  background-color: var(--manz);
  display: flex;
  height: 78px;
  justify-content: flex-end;
  margin-left: 75px;
  min-width: 90px;
}

.login-signup-page .discover {
  height: 77px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 87px;
}

.login-signup-page .about-us {
  align-items: flex-start;
  display: flex;
  gap: 77px;
  margin-left: 77px;
  min-width: 259px;
}

.login-signup-page .help {
  height: 77px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 87px;
}

.login-signup-page .about-us-1 {
  height: 77px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 87px;
}

.login-signup-page .overlap-group5 {
  height: 646px;
  margin-left: 36.0px;
  position: relative;
  width: 1122px;
}

.login-signup-page .loggin-mockup {
  align-items: flex-start;
  background-color: #fefefe;
  border: 1px solid;
  border-color: var(--black);
  box-shadow: inset 0px 4px 4px #00000040;
  display: flex;
  gap: 57px;
  height: 646px;
  left: 0;
  min-width: 1122px;
  padding: 1.0px 0;
  position: absolute;
  top: 0;
}

.login-signup-page .welcome-box {
  background-color: var(--alto);
  height: 644px;
  margin-left: -1px;
  width: 543px;
}

.login-signup-page .flex-col {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 128.61px;
  min-height: 345px;
  width: 472px;
}

.login-signup-page .overlap-group-1 {
  align-items: flex-start;
  background-color: var(--alto);
  display: flex;
  min-width: 470px;
}

.login-signup-page .login-account {
  height: 94px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 470px;
}

.login-signup-page .account {
  align-items: flex-start;
  display: flex;
  gap: 29px;
  height: 44px;
  margin-top: 99px;
  min-width: 472px;
}

.login-signup-page .icon {
  align-self: flex-end;
  background-color: var(--alto);
  height: 43px;
  margin-bottom: 0;
  width: 44px;
}

.login-signup-page .overlap-group1 {
  align-items: flex-end;
  background-color: var(--alto);
  display: flex;
  height: 43px;
  min-width: 397px;
  padding: 8.8px 15px;
}

.login-signup-page .email {
  letter-spacing: 0;
  line-height: normal;
  min-height: 26px;
  width: 218px;
}

.login-signup-page .password {
  align-items: flex-start;
  display: flex;
  gap: 29px;
  margin-top: 64px;
  min-width: 472px;
}

.login-signup-page .icon-1 {
  background-color: var(--alto);
  height: 43px;
  width: 44px;
}

.login-signup-page .overlap-group2-1 {
  align-items: flex-start;
  background-color: var(--alto);
  display: flex;
  height: 43px;
  min-width: 397px;
  padding: 8.8px 15px;
}

.login-signup-page .password-1 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 26px;
  width: 218px;
}

.login-signup-page .sign-up {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 44px;
  left: 623px;
  min-width: 347px;
  position: absolute;
  top: 494px;
}

.login-signup-page .sign-up-container {
  height: 44px;
  position: relative;
  width: 345px;
}

.login-signup-page .sign-up-box {
  background-color: var(--alto);
  height: 44px;
  left: 20px;
  position: absolute;
  top: 0;
  width: 315px;
}

.login-signup-page .sign-up-1 {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 345px;
}
