:root {
  --font-family-sans-serif: "SF Pro", "Nunito", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

body {
  display: flex;
  max-width: 100vw;
}

.side-pane {
  border-right: 1px solid gray;
  position: fixed;
  height: 100vh;
  width: 250px;
}

.main {
  min-height: 100vh;
  width: calc(100vw - 250px);
  background-color: azure;
  margin-left: 250px;
}

.main-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-header {
  height: 125px;
  border-bottom: 1px solid gray;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.logo-area {
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  border-bottom: 1px solid gray;
  width: 100%;
  text-decoration: none;
  color: black;
}

.logo {
  width: 50px;
  height: 50px;
}

.logo-text {
  font-weight: 700;
}

.nav-items {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.nav-item:hover {
  background-color: beige;
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.nav-item {
  border-radius: 0.5rem;
  align-items: center;
  padding: 1rem;
  display: flex;
  gap: 1.5rem;
  font-weight: 300;
  font-size: 25px;
  text-decoration: none;
  color: black;
}

.nav-item-area {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}

.nav-icon {
  align-items: center;
  display: flex;
  gap: 1.5rem;
}

.chat-messages-area {
  width: 100%;
  display: flex;
  justify-content: center;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  margin: 3rem;
}

.chat-input {
  padding-top: 0.5rem;
  padding-left: 1rem;
  height: 3rem;
  width: 60vw;
  resize: none;
}

.chat-input-area {
  position: fixed;
  display: flex;
  gap: 1.5rem;
  min-width: 60%;
  bottom: 20px;
}

.chat-send-btn {
  border: 1px solid black;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
}

.message-area-bot {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.message-area-user {
  gap: 1rem;
  display: flex;
  flex-direction: row-reverse;
}
.message-box {
  max-width: 75%;
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: 0.5rem;
  background-color: white;
}

.message-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  border: 1px solid black;
}

p {
  display: flex;
  gap: 1.5rem;
  font-style: normal;
}

@media (max-width: 768px) {
  .side-pane {
    width: 100px;
  }
  .main {
    margin-left: 100px;
    width: calc(100vw - 100px);
  }
  .nav-item-area span {
    display: none;
  }
  .nav-items {
    padding: 1rem;
  }
  .nav-item {
    justify-content: center;
    width: 4rem;
    height: 4rem;
  }
  .logo-text {
    display: none;
  }
}

@media (max-width: 480px) {
  .side-pane {
    display: none;
  }
  .main {
    margin-left: 0px;
    width: 100vw;
  }
}
