{% extends "app.html" %} 

{% block page_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='account/account.css') }}">
{% endblock %}

{% block app_content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
{% endif %}
{% endwith %}

<h1>Account</h1>

<form action="" method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.firstname.label }}<br>
        {{ form.firstname(size=32) }}<br>
        {% for error in form.firstname.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.lastname.label }}<br>
        {{ form.lastname(size=32) }}<br>
        {% for error in form.lastname.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.dob.label }}<br>
        {{ form.dob }}<br>
        {% for error in form.dob.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.country.label }}<br>
        {{ form.country(size=32) }}<br>
        {% for error in form.country.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.gender.label }}<br>
        {{ form.gender }}<br>
        {% for error in form.gender.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>

{% endblock %}