{% extends "base.html" %} {% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navbar/style.css') }}">
{% block page_css %}{% endblock %}{% endblock %} {% block app_script %}
<script src="{{ url_for('static', filename='navbar/script.js')}}"></script>

{% block script %}{% endblock %} {% endblock %} {% block topbar %}

<button class="button-square" id="burger-button">
  <i class="bi-list"></i>
</button>
<button class="button-square" id="colour-selector" style="display: none">
  <i class="bi-moon"></i>
</button>
<div class="profile-dropdown">
  <button class="profile-dropdown">
    <img src="{{ url_for('static', filename='images/profile-pictures/' ~ profile_pic ~ '.webp') }}" alt="Profile Pic"
      class="avatar" style="object-fit: cover">
    <span>{{current_user.firstname + " " + current_user.lastname}}</span>
    <i class="bi bi-caret-down-fill"></i>
  </button>

  <div class="dropdown">
    <nav>
      <ul class="nav-container">
        <li>
          <span>
            <i class="bi bi-moon"></i>
            Dark Mode
          </span>
          <input class="dark-mode-switcher" type="checkbox" name="theme-switcher" id="color-selector">
        </li>
        <li class="nav-item">
          <button id="clear-conversation">
            <i class="bi bi-trash"></i>
            Clear Conversation
          </button>
        </li>
      </ul>
      <div style="width: 100%; border-bottom: 1px solid rgba(var(--border-rgba))"></div>
      <ul class="nav-container">
        <li class="nav-item">
          <a href="/account">
            <i class="bi bi-person"></i>
            Profile
          </a>
        </li>
        <li class="nav-item" id="logout-button">
          <a href="{{ url_for('auth.logout') }}">
            <i class="bi bi-arrow-right-square"></i>
            Logout
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

{% endblock %} {% block content %}

<section class="burger-menu hide" id="burger-menu-section">
  <div class="topbar">
    <a href="/" class="logo-text">
      <h1>MindMate</h1>
    </a>
    <button class="button-square" id="close-button">
      <i class="bi-x icon" style="color: black"></i>
    </button>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/chat">Chat</a>
      </li>
      <li><a href="/search/1">Search</a></li>
      <li><a href="/account">Account</a></li>
    </ul>
  </nav>
</section>

<div class="side-navbar">
  <nav>
    <ul>
      <li>
        <a href="/chat">
          <i class="bi-chat"></i>
          <span>Chat</span>
        </a>
      </li>
      <li>
        <a href="/search/1">
          <!--Changed route for search page to search/1-->
          <i class="bi-search"></i>
          <span>Search</span>
        </a>
      </li>
      <li>
        <a href="/account">
          <i class="bi-person-circle"></i>
          <span>Account</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="main-content">
  <div class="content-area">{% block app_content %} {% endblock %}</div>
</div>
{% endblock %}