{% extends "base.html" %} {% block content %}
{% block page_css %}{% endblock %}
<div class="side-navbar">
  <nav>
    <ul>
      <li>
        <a href="/chat">
          <i class="bi-chat"></i>
          <span>Chat</span>
        </a>
      </li>
      <li>
        <a href="/search/1"> <!--Changed route for search page to search/1-->
          <i class="bi-search"></i>
          <span>Search</span>
        </a>
      </li>
      <li>
        <a href="/account">
          <i class="bi-person-circle"></i>
          <span>Profile</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="main-content">
  <div class="content-area">{% block app_content %} {% endblock %}</div>
</div>
{% endblock %}