<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css')}}"
    />
    <title>{% block title%} Home {% endblock %}</title>
  </head>
  <body>
    <div class="side-pane">
      <nav>
        <a href="/" class="logo-area">
          <img
            class="logo"
            src="{{ url_for('static', filename='images/Chatbot logo.svg')}}"
            alt="ChatBot Logo"
          />
          <h1 class="logo-text">realChat</h1>
        </a>
        <ul class="nav-items">
          <a class="nav-item" href="/">
            <div class="nav-item-area">
              <i class="nav-icon bi-house"></i>
              <span>Home</span>
            </div>
          </a>

          <a class="nav-item" href="/chat">
            <div class="nav-item-area">
              <i class="nav-icon bi-chat"></i>
              <span>Chat</span>
            </div>
          </a>
          <a class="nav-item" href="/search">
            <div class="nav-item-area">
              <i class="nav-icon bi-search"></i>
              <span>Search</span>
            </div>
          </a>
          <a class="nav-item" href="/account">
            <div class="nav-item-area">
              <i class="nav-icon bi-person-circle"></i>
              <span>Account</span>
            </div>
          </a>
        </ul>
      </nav>
    </div>

    <div class="main">
      <div class="main-header">
        <h1>{% block content_header %}Chat{% endblock %}</h1>
        <div class="username-input-area">
          <textarea
            cols="30"
            spellcheck="false"
            class="username-input"
            placeholder="Type your username here..."
          ></textarea>
          <button class="username-send-btn">
            <i class="bi-send"></i>
          </button>
        </div>
      </div>
      {% block content %} {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='script.js')}}"></script>
  </body>
</html>
