{% extends "app.html" %} {% block topbar %}
<input id="username" type="text" placeholder="Enter Username..." />
{% endblock %} {% block app_content %}

<div class="chat-area">
  <div class="messages">
    <div class="chat-message-bot">
      <div class="info">
        <div class="avatar"></div>
        <p>2:13 AM</p>
      </div>
      <div class="chat-bubble-bot">
        <div class="triangle"></div>
        <div class="bubble">
          <p>Hi Daffa, how are you doing today?</p>
        </div>
      </div>
    </div>
  </div>
  <div class="input">
    <textarea
      class="message-input"
      name="Input"
      id=""
      cols="30"
      rows="1"
      placeholder="Send a message."
    ></textarea>
  </div>

  {% endblock %}
</div>