{% extends "app.html" %} {% block page_css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='chat/style.css') }}"
/>
{% endblock %} {% block script %}
<script src="{{ url_for('static', filename='chat/script.js') }}"></script>
{% endblock %} {% block app_content %}

<div class="chat-area">
  <div class="messages">
    <div class="chat-message bot">
      <div class="info">
        <div class="avatar"></div>
        <span>2:13</span>
      </div>
      <div class="chat-bubble">
        <div class="triangle"></div>
        <div class="bubble">
          <span>Hi Daffa, how are you doing today?</span>
        </div>
      </div>
    </div>
    <div class="chat-message user">
      <div class="chat-bubble">
        <div class="bubble">
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
            corporis assumenda blanditiis laboriosam. Provident libero officiis
            delectus, magni nesciunt possimus quam unde? Similique sit earum ab
            aspernatur asperiores debitis molestias!
          </span>
        </div>
        <div class="triangle"></div>
      </div>
      <div class="info">
        <div class="avatar"></div>
        <span>22:46</span>
      </div>
    </div>
  </div>
  <div class="input">
    <textarea
      class="message-input"
      name="Input"
      id=""
      cols="30"
      rows="1"
      placeholder="Send a message."
    ></textarea>
    <button>
      <i class="bi-send"></i>
    </button>
  </div>

  {% endblock %}
</div>
