{% extends "app.html" %}
{% block page_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='history/history.css')}}">
{% endblock %}

{% block app_content %}
  <h2 class="title">Chat History</h2>
  <ul class="message-list">
    {% for message in messages %}
    <!--Allows user to redirect to the chat page by clicking on a stored message.-->
      <li class="message-box"><a href="{{ url_for('views.chat_route') }}">{{ message.username }}: {{ message.data[-1].content }}</a></li>
    {% endfor %}
  </ul>

  <!--Add pagination buttons to history page-->
  <div class="pagination">
    {% if page > 1 %}
    <div class="Previous-Button">
      <a href="{{ url_for('views.history', page=page-1) }}">Previous</a>
    </div>
    {% endif %}

    {% if messages|length >= page_size %}
    <div class="Next-Button">
      <a href="{{ url_for('views.history', page=page+1) }}">Next</a>
    </div>
    {% endif %}
  </div>
{% endblock %}