{% extends "app.html" %}
{% block page_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='history/history.css')}}">
{% endblock %}

{% block app_content %}
  <h2>Chat History</h2>
  <ul class="message-list">
    {% for message in messages %}
    <!--Allows user to redirect to the chat page by clicking on a stored message.-->
      <li class="message-box"><a href="{{ url_for('views.chat_route') }}">{{ message.username }}: {{ message.data[-1].content }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}