{% extends "app.html" %}
{% block page_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='history/history.css')}}">
{% endblock %}

{% block app_content %}
  <h2 class="title">Chat History</h2><br>
  <ul class="message-list">
    {% for message in messages %}
    <!--Allows user to redirect to the chat page by clicking on a stored message.-->
    <li>
      <a href="{{ url_for('views.chat_route') }}">
        <div class="message-box">
          <div class="username">{{ message.username }}:  </div>
          <div class="message-content">{{ message.data[-1].content }}</div>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>

  <!--Add pagination buttons to history page-->
  <div class="pagination">
    {% if page > 1 %}
    <div class="Previous-Button">
      <a href="{{ url_for('views.history', page=page-1) }}">Previous</a>
    </div>
    {% endif %}

    {% if messages|length >= page_size %}
    <div class="Next-Button{% if page == 1 %} First-Page{% endif %}">
      <a href="{{ url_for('views.history', page=page+1) }}">Next</a>
    </div>
    {% endif %}
  </div>
{% endblock %}