{% extends "base.html"%} {% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='home/style.css') }}"
/>
{% endblock %} {% block script %}
<script src="{{ url_for('static', filename='home/script.js') }}"></script>
{% endblock %} {% block title %} Home {% endblock %} {% block topbar %}
<a href="/chat/" class="chatBtn">Chat Now</a>
{% endblock %} {% block content %}

<div class="mainheader">
  <div class="info">
    <h1 class="hidden">
      The support you need, right at your
      <br />
      fingertips
    </h1>
    <p class="hidden">
      The AI-enhanced therapy chat app that provides a supportive and empowering
      space for individuals to work through emotional struggles and build
      resilience.
    </p>
    <div class="btnWrapper hidden">
      <a href="/chat/" class="chatBtn"><span>Chat Now</span></a>
    </div>
  </div>
  <div class="image">
    <img
      src="{{ url_for('static', filename='images/mainHeader-pic.png') }}"
      alt="Man Meditating"
    />
  </div>
</div>

<div class="bg">
  <div class="secondheader">
    <img
      src="{{ url_for('static', filename='images/layered-waves.svg') }}"
      alt="stuff"
    />
    <div class="contain">
      <div class="image">
        <img
          src="{{ url_for('static', filename='images/secondHeader.svg') }}"
          alt="Man Meditating"
        />
      </div>
      <div class="info">
        <h1 class="hidden">
          Deep learning algorithms
          <br />
          for personalized therapy
        </h1>
        <p class="hidden">
          Our AI-powered therapy chat app intelligently tailors the messages you
          receive to meet your specific needs. Answer a few questions and access
          our neural network of data, all of which are designed to provide
          personalized and effective therapy. With our app, you can be confident
          that you're getting support that is tailored to you.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
