{% extends "base.html" %}
{% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='Signup_login/style.css') }}"
/>
{% endblock %}
{% block title %} Sign In {% endblock %} {% block
content_header %} Login {% endblock %} {% block content %} {% with messages =
get_flashed_messages() %} {% if messages %} {% for message in messages %}
<p>{{ message }}</p>
{% endfor %} {% endif %} {% endwith %}


<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="fixed-box">
    <div class="card" style="width: 50vh; height: 50vh;">
      <div class="card-body d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-center mb-4">Login</h1>
        <form action="" method="post" novalidate>
          {{ form.hidden_tag() }}
          <p>
            {{ form.email.label }}
            <br />
            {{ form.email(size=32) }}
            <br />
            {% for error in form.email.errors %}
            <span style="color: red">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            {{ form.password.label }}
            <br />
            {{ form.password(size=32) }}
            <br />
            {% for error in form.password.errors %}
            <span style="color: red">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
          <p>{{ form.submit() }}</p>
        </form>    
        <p>
          New User?
          <a href="{{ url_for('auth.signup') }}">Create New Account</a>
        </p>
      </div>
    </div>
  </div>
</div>


{% endblock %}
