{% extends "app.html" %}
{% block page_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search/search.css')}}">
{% endblock %}
{% block script %} 
    <script src="{{ url_for('static', filename='search.js') }}"></script>
{% endblock %}
{% block app_content %}
  <h2 class="title">Chats</h2>
  <div id="messageContainer">
    <ul class="message-list">
      {% for message in messages %}
      <!--Allows user to redirect to the chat page by clicking on a stored message.-->
      <li>
        <a href="{{ url_for('views.chat_route') }}">
          <div class="message-box">
            <div class="message-content">{{ message.data[-1].content }}</div>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}