@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-image: url('images/wallpaper.png');
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

input::placeholder {
  color: #727a87;
}

.bg-blur {
  backdrop-filter: blur(1.25rem);
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0;
  width: 100%;
  height: 100%;
}

.top-navbar {
  height: 5rem;
  background-color: #1c1d1f;
  width: 100%;
  display: flex;
  align-content: center;
  padding-left: 2.5rem;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
}

.top-navbar nav {
  align-content: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 4.375rem;
  width: 100%;
  padding-left: 4rem;
  padding-right: 2rem;
}

.logo-text {
  display: flex;
  align-items: center;
  font-size: 2.25rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: white;
}

@media (min-width: 768px) {
  .username-input {
    display: block;
  }
}
